@media only screen and (max-width: 361px) {
    h1 {
        position: absolute;
        top: 25%;
    }
}

@media only screen and (max-width: 412px) {
    h1 {
        position: absolute;
        top: 25%;
        left: 15%;
    }
}

@media only screen and (max-width: 415px) {
    h1 {
        position: absolute;
        top: 25%;
    }
}

@media only screen and (max-width: 1024px) {
    h1 {
        position: absolute;
        left: 14%;
    }
}
@media only screen and (max-width: 540px) {
    h1 {
        position: absolute;
        left: 14%;
        top: 30%;
    }
}
@media only screen and (max-width: 540px) and (max-height: 653px){
    h1 {
        position: absolute;
        left: 14%;
        top: 20%;
    }
}